@use '@/styles/scss/abstracts/' as *;

//Style container
.container {
  margin: 3rem auto;
  max-width: 90vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
}

@media only screen and (max-width: 675px) {
  .container {
    grid-template-columns: none;
  }
}