// VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

// MAIN COLORS
$primaryColor: #000000;
$complementaryColor: #f9fafb;
$highlightColor: #d1d5db;
$brandColor: #60a5fa;
$brandSkewColor: #818cf8;
$dangerColor: #7f1d1d;
$dangerHighlight: #be123c;