@use "../abstracts" as *;

// Style for Carousel
.carousel {
  margin: auto;
  width: 90vw;

  .carousel-inner {
    border-radius: 30px;

    .carousel-item {
      position: relative;
      border-radius: 30px;
      height: 50vh;
      filter: brightness(95%);
      width: 100%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

      // Style Carousel Image - to be responsive (thanks for your help Alex - XP!)
      img {
        object-fit: cover;
      }

      .carousel-caption {
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.555);
        border-radius: 10px;
        margin-bottom: 15px;
      }
    }
  }
}

// Style for Carousel - Hide Carousel for mobile
@media only screen and (max-width: 675px) {
  .carousel {
    display: none;
  }
}
