@use '../abstracts' as *;

.carousel {
 border-radius: 30px;
 margin-top: 13px;
 height: 450px;
 filter:brightness(95%);
 max-width: 90vw;
 margin: 1rem auto;
}

.carousel-caption{
 left:0;
 right:0;
 background-color:rgba(0, 0, 0, 0.555);
 border-radius: 10px;
 margin-bottom: 15px;
}
/*
.item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
*/
